*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#busqueda{
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
}

#busqueda tr{
    height: 30px;
}

#busqueda tr td{
    text-align: center;
}

#busqueda tr:nth-child(odd){
    background-color: aliceblue;
}

h1{
    text-align: center;
}

label{
    user-select: none;
}

#mostrarForms{
    display: block;
    cursor: pointer;
    padding: 5px 20px;
    width: fit-content;
    border-radius: 15px;
    margin: 15px;
}

#filtro-padres{
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.filtrarPorPadres{
    border: none;
    background-color: rgb(194, 194, 194);
    font-size: larger;
    transition: .2s;
}

.filtrarPorPadres:hover{
    filter: brightness(1.1);
}
.no-mostrando{
    background-color: rgb(207, 52, 52);
}
.mostrando{
    background-color: rgb(48, 175, 22);
    color: white;
}

.visible{
    display: grid;
}

.invisible{
    display: none;
}

#formularios{
    grid-template-columns: 40% 40%;
    gap: 10%;
    justify-content: center;
    width: 90%;
    padding: 20px;
    margin: 0 auto;
}

form{
    border: 2px solid gray;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#formularios form .selector{
    display: flex;
    justify-content: space-between;   
}

#formularios form .selector *{
    width: 40%;
}

form>*{
    text-align: start;
    font-size: medium;
    width: 100%;
    height: 35px;
    box-sizing: border-box;
}

form>input, form>button{
    text-align: center;
}